#green, #red, #yellow, #blue {
  width: 100px;
  height: 100px;
}

#green {
  background: green;
}

#red {
  background: #e50000;
}

#yellow {
  background: #e5e500;
}

#blue {
  background: blue;
}

#count {
  width: 50px;
  height: 50px;
  background: #300;
}

#start {
  background: red;
}

#strict {
  background: yellow;
}

#strictLight {
  width: 10px;
  height: 10px;
  background: black;
}

#on, #off {
  background: #00E5EE;
  width: 20px;
  height: 20px;
}

#onContainer {
  background: black;
  width: 40px;
  height: 20px;
  display: inline-block;
}

#off {
  display: none;
  float: left;
}

#on {
  display: inline-block;
  float: right;
}

p {
  display: inline-block;
}
